﻿
@{
    ViewBag.Title = "Bebidas";
}



<head>

</head>


<body>
    <div id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Bebidas</h2>
                    <h3 class="section-subheading text-muted">Tenemos las mejores Bebidas</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="~/Content/Imagen/Fanta.jpg" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    </span>
                    <h3>Fanta</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="~/Content/Imagen/Coca-Cola.jpg" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    </span>
                    <h3>Coca-cola</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="~/Content/Imagen/Sprite.jpg" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    </span>
                    <h3>Sprite</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <img src="~/Content/Imagen/inca-kola.jpg" alt="Image" style="width:80px;height:80px;max-width: 100%; height: auto;" />
                    </span>
                    <h3>Inca-Kola</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </span>
                    <h3>E-Commerce</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-layers m-auto text-primary"></i>
                    </span>
                    <h3>Responsive Design</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-check m-auto text-primary"></i>
                    </span>
                    <h3>Web Security</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-check m-auto text-primary"></i>
                    </span>
                    <h3>Web Security</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </span>
                    <h3>E-Commerce</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-layers m-auto text-primary"></i>
                    </span>
                    <h3>Responsive Design</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-check m-auto text-primary"></i>
                    </span>
                    <h3>Web Security</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-check m-auto text-primary"></i>
                    </span>
                    <h3>Web Security</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </span>
                    <h3>E-Commerce</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-layers m-auto text-primary"></i>
                    </span>
                    <h3>Responsive Design</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-check m-auto text-primary"></i>
                    </span>
                    <h3>Web Security</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-3">
                    <span class="fa-stack fa-4x">
                        <i class="icon-check m-auto text-primary"></i>
                    </span>
                    <h3>Web Security</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </div>
</body>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
}


