﻿@{
    ViewBag.Title = "Contactos";
}
<!DOCTYPE html>
<html>
<head>

</head>

<body>
    <div id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-uppercase">Contactos</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="icon-screen-desktop m-auto text-primary"></i>
                    </span>
                    <h3>E-Commerce</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="icon-layers m-auto text-primary"></i>
                    </span>
                    <h3>Responsive Design</h3>
                    <p class="lead mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </div>


    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/fontawesome-free/js/fontawesome.min.js"></script>
    

</body>
</html>

@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")