﻿@model EComemerce_01.Models.User

@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Sistema Comercial</title>


    <!-- Custom styles for this template -->

</head>

<body>
   


</body>

</html>
