﻿@model EComemerce_01.Models.User
@using EComemerce_01.Classes;
@{
    ViewBag.Title = "Inicio";
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/css2/Estilos.css" rel="stylesheet" type="text/css">

    
</head>

<body style="background-color:#eee">
    @if (User.IsInRole("User"))
    {

        int ordenes = CombosHelper.GetOrdesTotal(Model.CompanyId);
        int products = CombosHelper.GetProductsTotal(Model.CompanyId);
        int compras = CombosHelper.GetComprasTotal(Model.CompanyId);
        int ventas = CombosHelper.GetVentasTotal(Model.CompanyId);

        <div id="wrapper">

            <!-- Top Menu Items -->

            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@Url.Action("Index", "Home")" style="font-size:20px;"><i class="fa fa-fw fa-home"></i>Inicio</a>
                </div>

                <div class="container">
                    @if (!User.IsInRole("Admin") || !User.IsInRole("User"))
                    {
                        @Html.Partial("_LoginPartial")
                    }
                </div>


                    <div class="collapse navbar-collapse navbar-ex1-collapse">
                        <ul class="nav navbar-nav side-nav">
                            <li class="active">
                                <a href="@Url.Action("Index", "Orders")"><i class="fa fa-fw fa-dashboard"></i> Ordenes</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Purchases")"><i class="fa fa-fw fa-bar-chart-o"></i> Compras</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Sales")"><i class="fa fa-fw fa-table"></i> Ventas</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Categories")"><i class="fa fa-fw fa-edit"></i> Categorias</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Customers")"><i class="fa fa-fw fa-desktop"></i> Clientes</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Products")"><i class="fa fa-fw fa-wrench"></i> Productos</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Taxes")"><i class="fa fa-fw fa-users"></i> Impuestos</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Suppliers")"><i class="fa fa-fw fa-file"></i> Proveedores</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Index", "Warehouses")"><i class="fa fa-fw fa-dashboard"></i> Bodegas</a>
                            </li>
                        </ul>
                    </div>
                </nav>

                <div id="page-wrapper" style="background-color:#eee">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h1 class="page-header">
                                    Sistema<small> Ecommerce</small>
                                </h1>
                                <ol class="breadcrumb" style="background-color:white">
                                    <li class="active">
                                        <i class="fa fa-dashboard"></i> Ecommerce
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <!-- /.row -->

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="alert alert-info alert-dismissable">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    <i class="fa fa-info-circle"></i>  <strong>Estado Actual</strong>
                                </div>
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-primary">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-comments fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@ordenes</div>
                                                <div>Ordenes Actuales</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">@Html.ActionLink("Ordenes", "Index", "Orders")</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-green">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-tasks fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@ventas</div>
                                                <div>Ventas Actuales</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">@Html.ActionLink("Ventas", "Index", "Sales")</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-yellow">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-shopping-cart fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@compras</div>
                                                <div>Compras Actuales</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">@Html.ActionLink("Compras", "Index", "Purchases")</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6">
                                <div class="panel panel-red">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-xs-3">
                                                <i class="fa fa-support fa-5x"></i>
                                            </div>
                                            <div class="col-xs-9 text-right">
                                                <div class="huge">@products</div>
                                                <div>Productos Actuales</div>
                                            </div>
                                        </div>
                                    </div>
                                    <a href="#">
                                        <div class="panel-footer">
                                            <span class="pull-left">@Html.ActionLink("Productos", "Index", "Products")</span>
                                            <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                            <div class="clearfix"></div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
</div>

            <!-- jQuery -->
            <!-- jQuery -->
            }
                @if (User.IsInRole("Admin"))
            {
                int usuarios = CombosHelper.GetUserTotal();
                int ciudades = CombosHelper.GetCityTotal();
                int compañias = CombosHelper.GetCompañiasTotal();
                int departamentos = CombosHelper.GetDepartamentosTotal();
                    <div id="wrapper">
                        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-home"></i>Inicio</a>
                            </div>

                            <div class="container">
                                @if (!User.IsInRole("Admin") || !User.IsInRole("User"))
                                {
                                    @Html.Partial("_LoginPartial")
                                }
                            </div>




                            <div class="collapse navbar-collapse navbar-ex1-collapse principal">
                                <ul class="nav navbar-nav side-nav">
                                    <li class="active">
                                        <a href="@Url.Action("Index", "Cities")"><i class="fa fa-fw fa-dashboard"></i> Ciudades</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Companies")"><i class="fa fa-fw fa-bar-chart-o"></i> Compañias</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Departments")"><i class="fa fa-fw fa-table"></i> Departamentos</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "Users")"><i class="fa fa-fw fa-edit"></i> Usuarios</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Index", "States")"><i class="fa fa-fw fa-desktop"></i> Estados</a>
                                    </li>
                                </ul>
                            </div>
                            </nav>

                            <div id="page-wrapper"style="background-color:#eee">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <h1 class="page-header">
                                                Sistema <small> Ecommerce</small>
                                            </h1>
                                            <ol class="breadcrumb" style="background-color:white">
                                                <li class="active">
                                                    <i class="fa fa-dashboard"></i> Ecommerce
                                                </li>
                                            </ol>
                                        </div>
                                    </div>
                                    <!-- /.row -->

                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="alert alert-info alert-dismissable">
                                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                <i class="fa fa-info-circle"></i>  <strong>Estado Actual</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-3 col-md-6">
                                            <div class="panel panel-primary">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-globe fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div class="huge">@ciudades</div>
                                                            <div>Ciudades Actuales</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">@Html.ActionLink("Ciudades", "Index", "cities")</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="panel panel-green">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-institution fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div class="huge">@compañias</div>
                                                            <div>Compañias Actuales</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">@Html.ActionLink("Compañias", "Index", "Companies")</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="panel panel-yellow">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-tasks fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div class="huge">@departamentos</div>
                                                            <div>Departamentos</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">@Html.ActionLink("Departamentos", "Index", "Departments")</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-3 col-md-6">
                                            <div class="panel panel-red">
                                                <div class="panel-heading">
                                                    <div class="row">
                                                        <div class="col-xs-3">
                                                            <i class="fa fa-users fa-5x"></i>
                                                        </div>
                                                        <div class="col-xs-9 text-right">
                                                            <div class="huge">@usuarios</div>
                                                            <div>Usuarios Actuales</div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="#">
                                                    <div class="panel-footer">
                                                        <span class="pull-left">@Html.ActionLink("Usuarios", "Index", "Users")</span>
                                                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                                        <div class="clearfix"></div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
</div>

                        }

                        <script src="../js2/jquery.js"></script>

                        <!-- Bootstrap Core JavaScript -->
                        <script src="../js2/bootstrap.min.js"></script>

                        <!-- Morris Charts JavaScript -->
                        <script src="../js2/plugins/morris/raphael.min.js"></script>
                        <script src="../js2/plugins/morris/morris.min.js"></script>
                        <script src="../js2/plugins/morris/morris-data.js"></script>

</body>

</html>

