﻿@model EComemerce_01.Models.City

@{
    ViewBag.Title = "Crear Cuidad";
}
<script src="~/Scripts/ecommerce.js"></script>
@Scripts.Render("~/bundles/jqueryval")
<section>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="modal-shadow text-center">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="panel-body">
                <div class="form-group">
                    @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="text-right">
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        
                    </div>
                    <div class="text-center">
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="text-right">
                        @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })                        
                    </div>
                    <div class="text-center">
                        @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group"style="margin-right:110px">
                    <div class="text-right">
                        <input type="submit" value="Crear" class="btn btn-primary" />
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                    </div>
                </div>
              </div>
          </div>

    }

</section>



