﻿@model PagedList.IPagedList<EComemerce_01.Models.State>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Estados";
}


<body class="container body-content">
    <h2>Estados</h2>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
                    @Html.TextBox("buscarState", ViewBag.CurrentSearch as string, new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </td>
                <td>
                    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary", data_modal = "" })
                </td>
            </tr>
        </table>
    }
    <br />
    <table class="table table-bordered">
        <tr class="success">
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.StateId }, new { @class = "btn btn-warning", data_modal = "" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.StateId }, new { @class = "btn btn-success", data_modal = "" })
                </td>
            </tr>
        }

    </table>
    Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))


</body>

