﻿@model EComemerce_01.Models.NewOrderView

@{
    ViewBag.Title = "Crear";
}
<body class="container body-content">
    <br /><br /><br />


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal" style="background-color:moccasin;border-radius:10px">
            <br />
            <h4 class="text-center">Datos de la orden</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="text-right">
                            @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })                          
                        </div>
                        <div class="text-center">
                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="text-right">
                            <div class='input-group date' id='datepicker' style="width:280px">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon">
                                    <span class="fa fa-fw fa-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="text-right">
                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group"style="margin-right:100px">
                        <div class="text-right">
                            <input type="submit" value="Crear" class="btn btn-primary" />                           
                            <input id="agregarProducto" type="button" class="btn btn-info" value="Agregar" />
                            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    <hr />
    <h4 class="text-center">Detalles</h4>
    <div id="tablaFinalOrder">
        <table class="table table-bordered">
            <tr class="success">
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Details[0].Product.Image)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Details[0].Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Details[0].TaxRate)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Details[0].Price)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Details[0].Quantity)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.Details[0].Value)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model.Details)
            {
                <tr class="ProductoOrder">
                    <td style="text-align:center">
                        @if (!string.IsNullOrEmpty(item.Product.Image))
                        {
                            <img src="@Url.Content(item.Product.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                        }
                    </td>

                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.TaxRate)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Value)
                    </td>
                    <td style="text-align:center">
                        @Html.ActionLink("Eliminar", "DeleteProduct", new { id = item.ProductId }, new { @class = "btn btn-danger", onclick = "return confirm('¿Esta seguro de Eliminar este registro?') " })
                    </td>
                </tr>
            }
            <tr>
                <td colspan="4" style="text-align:center">
                    <strong>Total</strong>
                </td>
                <td style="text-align:center">
                    <strong>@Html.DisplayFor(modelItem => Model.TotalQuantity)</strong>
                </td>
                <td style="text-align:center">
                    <strong>@Html.DisplayFor(modelItem => Model.TotalValue)</strong>
                </td>
                <td></td>
            </tr>
        </table>
     </div>



        <div class="modal fade" id="AddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#428bca">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" style="color:white;text-align:center"></h2>
                    </div>
                    <div class="modal-body"><div class="te">Please wait...</div></div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="myModal2" role="dialog">
            <div class="modal-dialog" style="width:1200px;height:1200px">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header" style="background-color:#428bca">
                        <button type="button" class="close" data-dismiss="modal" id="botonFinal">&times;</button>
                        <h4 class="modal-title" style="text-align:center;color:white">Seleccione un Producto</h4>
                    </div>
                    <div class="modal-body" id="Preview2">

                    </div>
                </div>
            </div>
        </div>

</body>

    @section Scripts {

        <script type="text/javascript">
            $(function () {
                $('#datepicker').datetimepicker({ format: 'YYYY/MM/DD' });
            });

            $(document).ready(function () {
                $("body").on("click", "a.dialog-window", null, function (e) {
                    e.preventDefault();
                    var $link = $(this);
                    var title = $link.text();
                    $('#AddProduct .modal-title').html(title);
                    var url = $(this).attr('href');
                    if (url.indexOf('#') == 0) {
                        $('#AddProduct').modal('show');
                    }
                    else {
                        $.get(url, function (data) {
                            $('#AddProduct .te').html(data);
                            $('#AddProduct').modal();
                        }).success(function () { $('input:text:visible:first').focus(); });

                    }
                });
            });

            $("#agregarProducto").click(function () {
                $.ajax({
                    type: "Get",
                    url: '@Url.Action("AddProduct2", "Orders")',
                    data: '',
                    success: function (data) {
                        $('#Preview2').html(data);
                        $('#myModal2').modal('show');
                    }
                })
            })

        </script>
    }


