﻿@model IEnumerable<EComemerce_01.Models.OrderDetail>
@{
    ViewBag.Title = "Detallado";
}

<html>
<body class="container body-content">
    <br />
    <h4 style="text-align:center">Detalles de la Orden</h4><br />

    <table class="table table-bordered">

        <tr class="success">
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Product.Image)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.TaxRate)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th style="text-align:center">
                Subtotal
            </th>
        </tr>

        @{
            double suma1 = 0;
            double suma2 = 0;
            double resultado = 0;

        }
        @foreach (var item in Model)
        {

            suma1 = suma1 + item.Quantity;
            resultado = item.Quantity * Convert.ToDouble(item.Price);
            suma2 = suma2 + resultado;
            <tr>
                <td align="center">
                    @if (!string.IsNullOrEmpty(item.Product.Image))
                {
                        <img src="@Url.Content(item.Product.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                    }
                </td>

                <td align="center">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.TaxRate)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td align="center">
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td align="center">
                    S/.@resultado
                </td>
            </tr>

        }

        <tr>
            <td colspan="4" align="center"style="font-size:20px">
                <strong>Total</strong>
            </td>
            <td align="center" style="font-size:20px">
                <strong>@suma1</strong>
            </td>
            <td align="center"style="font-size:20px">
                <strong>S/.@suma2</strong>
            </td>

        </tr>

    </table>
</body>
</html>
