﻿@model EComemerce_01.Models.Order

@{
    ViewBag.Title = "Editar";
}

<head>

</head>


<body>
    @Scripts.Render("~/bundles/jqueryval")
    <section>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <br />
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.OrderId)
                @Html.HiddenFor(model => model.CompanyId)

                <div class="form-group" style="padding-left:40px;padding-right:40px">
                    @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="text-right">
                        @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })
                       
                    </div>
                    <div class="text-center">
                        @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group" style="padding-left:40px;padding-right:40px">

                    @Html.LabelFor(model => model.StateId, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="text-right">
                        @Html.DropDownList("StateId", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.StateId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group" style="padding-left:40px;padding-right:40px">
                    @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="text-right">
                        @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="padding-left:40px;padding-right:40px">
                    @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="text-right">
                        @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control " } })
                        @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group" style="margin-right:100px">
                    <div class="text-right">
                        <input type="submit" value="Guardar" class="btn btn-primary" />
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                    </div>
                </div>
            </div>

        }


    </section>


</body>



