﻿@model PagedList.IPagedList<EComemerce_01.Models.Order>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Ordenes";
}


<html>

<body class="container body-content">
    <h2>Ordenes</h2>
    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
                    @Html.TextBox("buscarCategoria", ViewBag.CurrentSearch as string, new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </td>
                <td>
                    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary"})
                </td>
            </tr>
        </table>
    }
    <br />

    <table class="table table-bordered">
        <tr class="success">
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerId)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().StateId)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.State.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td style="text-align:center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.OrderId }, new { @class = "btn btn-warning", data_modal = "" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.OrderId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.OrderId }, new { @class = "btn btn-success", data_modal = "" })
                </td>
            </tr>
        }

    </table>
    Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))



</body>
</html>

