﻿@model PagedList.IPagedList<EComemerce_01.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Productos";
}

<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailPartial</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/css2/Estilos.css" rel="stylesheet" />


</head>



<body class="container body-content">

    <table>
        <tr>
            <td>@Html.TextBox("buscando", ViewBag.CurrentSearch as string, new { @class = "form-control" }) </td>
            <td>
                @Html.ActionLink("buscar", "AddProduct2", new { sort = ViewBag.CurrentSort, search = "xyz2" },
             new { @class = "btn btn-primary", btnName = "FilterCustomer2" })
            </td>

        </tr>
    </table>

    <br />
    <div id="ProductoTabla">
        <table class="table table-bordered">
            <tr class="success">
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().ProductId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Category.Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Tax.Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().BarCode)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Stock)
                </th>
                <th style="text-align:center">
                    Ingrese Cantidad
                </th>
                <th style="text-align:center">
                    Opciones
                </th>
            </tr>
            @{int contador = -1;}
            @foreach (var item in Model)
            {
                contador++;

                <tr id="ProductoTabla">
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.ProductId)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Category.Description)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Tax.Description)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.BarCode)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td style="text-align:center">
                        @if (!string.IsNullOrEmpty(item.Image))
                        {
                            <img src="@Url.Content(item.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                        }
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Stock)
                    </td>
                    <td style="text-align:center">
                        @Html.TextBox("searching", ViewBag.CurrentSearch as string, new { @class = "form-control cantidadfinalproduct" })
                    </td>
                    <td style="text-align:center">
                        <input type="submit" value="Añadir" class="btn btn-primary" onclick="Seleccionar(@item.ProductId,@contador)" />
                        <input type="submit" value="Borrar" class="btn btn-success" onclick="Eliminar(@item.ProductId)" />
                    </td>
                </tr>
            }

        </table>
    </div>

    <div id="myPager">
        @Html.PagedListPager(Model,
        page => Url.Action(
            "AddProduct2",
            new
            {
                page = page
            }
        )
    )
    </div>

    <script type="text/javascript">

        function Seleccionar(a, b) {
        var identificador = parseInt(a);
        var cantidadTotal=parseInt(document.getElementsByClassName('cantidadfinalproduct')[b].value);
        $.ajax({
            url: "@Url.Action("AddProductToList","Purchases")",
            type: "POST",
            dataType: 'json',
            //crossDomain: true,
            data: { id: identificador,cantidad:cantidadTotal},
            success: function (data) {
                
                // Si la petición es satisfactoria, se recarga la página actual
                //window.location.href = data;
                $('#tablaFinalProducto').load(' #tablaFinalProducto');
            }
        });

    }

     function Eliminar(a) {
         var identificador = parseInt(a);
            $.ajax({
                url: "@Url.Action("DeleteProduct2","Purchases")",
                type: "POST",
            dataType: 'json',
            //crossDomain: true,
            data: { id: identificador},
            success: function (data) {
                // Si la petición es satisfactoria, se recarga la página actual
                //window.location.href = data;
                $('#tablaFinalProducto').load(' #tablaFinalProducto');
                $('.ProductoCompra').remove();
            }
        });

    }





    $('#myPager').on('click', 'a', function (e) {
        //prevent action link normal functionality
        e.preventDefault();
        var van = this.href; if (van != "" && van != null) {
            //ajax call index controller action
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    //load returned data inside contentFrame DIV
                    $('#Preview2').html(result);
                }
            });
            return false;
        }
    });

    $("a[btnName=FilterCustomer2]").click(function (e) {
            e.preventDefault();
            var search = $('input[name=buscando]').val();
            this.href = this.href.replace('xyz2', search);
            $.ajax({
                url: this.href,
                type: 'POST',
                cache: false,
                success: function (result) {
                    $('#Preview2').html(result);
                }
            });
        });

    </script>


</body>

