﻿@model EComemerce_01.Models.Category

@{
    ViewBag.Title = "Categorias";
}
@Scripts.Render("~/bundles/jqueryval")
<section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.CompanyId)
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
                
            </div>
            <div class="form-group"style="margin-right:110px">
                <div class="text-right">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }

</section>
