﻿@model EComemerce_01.Models.ForgotPasswordViewModel


<head>
    <link href="~/css2/formulario.css" type="text/css" rel="stylesheet" />
</head>

<body style="background-color:rgba(128, 128, 128, 0.15)">
    <div class="container">
        <div class="card card-container">

            @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <div class="text-center">
                    <i class="fa fa-envelope-o fa-3x"></i>
                </div>
                
                <hr />
                <form class="form-signin">
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.Email) })<br />
                    <button class="btn btn-lg btn-primary btn-block btn-signin">Enviar</button>
                </form>
            }
</div>
        </div>

            @section Scripts {
                @Scripts.Render("~/bundles/jqueryval")
                @Scripts.Render("~/bundles/jquery")
                @Scripts.Render("~/bundles/bootstrap")
            }

</body>