﻿@{
    ViewBag.Title = "Cambiar Contraseña";
}

<hgroup class="title">
    <h3 class="text-center">@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Por Favor verificar su email para cambiar su contraseña
    </p>
</div>
	
