﻿@model EComemerce_01.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

<head>
    <link href="~/css2/formulario.css" type="text/css" rel="stylesheet" />
</head>

<body style="background-color:rgba(128, 128, 128, 0.15)">
    <div class="container">
        <div class="card card-container">
            @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Nuevo Administrador</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <form class="form-signin">
                    
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control",placeholder = Html.DisplayNameFor(x => x.Email) })
                    <br />
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" ,placeholder = Html.DisplayNameFor(x => x.Password) })
                    <br />
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) })
                    <br />
                    <button class="btn btn-lg btn-primary btn-block btn-signin">Crear</button>
                </form>
            }
</div>
    </div>
</body>
        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval")
        }
