﻿@{
    ViewBag.Title = "Cambio de Contraseña Confirmada";
}

<hgroup class="title">
    <h3 class="text-center">@ViewBag.Title.</h3>
</hgroup>
<div>
    <p>
        Su contraseña ha sido Cambiada. Por Ingresar @Html.ActionLink("Ingresar al Sistema", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
