﻿@model PagedList.IPagedList<EComemerce_01.Models.Product>
@using PagedList.Mvc;
@using EComemerce_01.Classes;



@{
    ViewBag.Title = "Productos ";

    List<EComemerce_01.Models.Warehouse> bodega = ViewBag.WarehouseId;
    int NumeroBodega = ViewBag.IDBodega;
}

<body>
    <seccion>
        <table>
            
            <tr>
                <td>
                    <select name="warehouse" class="form-control" id="Warehouse" >

                        @foreach (var a in bodega)
                        {
                            
                            <option value="@a.WarehouseId" >
                                @a.Name
                            </option>



                        }
                    </select>
                </td>
                <td>@Html.TextBox("buscando", ViewBag.CurrentSearch as string, new { @class = "form-control" }) </td>
                <td>
                    @Html.ActionLink("buscar", "AddProductWarehouse", new { sort = ViewBag.CurrentSort, search = "xyz2" },
             new { @class = "btn btn-primary", btnName = "FilterProductWarehouse" })
                </td>
            </tr>
            
           
        </table>
        <br />
        @if (Model != null)
        {

        <div id="tablaBodegas">
            <table class="table table-bordered" id="tablaProductos">
                <tr class="success">
                    <th style="text-align:center">
                        Id
                    </th>
                    <th style="text-align:center">
                        Imagen
                    </th>
                    <th style="text-align:center">
                        Categoria
                    </th>
                    <th style="text-align:center">
                        Codigo de Barra
                    </th>
                    <th style="text-align:center">
                        Description
                    </th>
                    <th style="text-align:center">
                        Precio
                    </th>
                    <th style="text-align:center">
                        Stock Actual
                    </th>
                    <th style="text-align:center">
                        Cantidad
                    </th>
                    <th style="text-align:center">
                        Opciones
                    </th>
                </tr>
                @{int contador = -1;}
                @foreach (var emp in Model)
                {
                    contador++;
                <tr id="Final">

                    <td align="center" class="Id">@emp.ProductId</td>
                    <td style="text-align:center">
                        @if (!string.IsNullOrEmpty(emp.Image))
                        {
                            <img src="@Url.Content(emp.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                        }
                    </td>
                    <td align="center" class="Descripcion">@emp.Category.Description</td>
                    <td align="center" class="Descripcion">@emp.BarCode</td>
                    <td align="center" class="Descripcion">@emp.Description</td>
                    <td align="center" class="Precio">@emp.Price</td>
                    <td align="center" class="StockActual">@CombosHelper.Inventories(emp.ProductId, NumeroBodega)</td>
                    <td align="center">
                        @Html.TextBox("searching", ViewBag.CurrentSearch as string, new { @class = "form-control cantidadfinal" })
                    </td>
                    <td style="text-align:center">
                        <input type="submit" value="Añadir" class="btn btn-primary" onclick="Seleccionar(@emp.ProductId,@contador)" />
                        <input type="submit" value="Borrar" class="btn btn-success" onclick="Eliminar(@emp.ProductId)" />
                    </td>
                </tr>
                }
            </table>

        </div>
        }
        <div id="myPager">
            @Html.PagedListPager(Model,
        page => Url.Action(
            "AddProductWarehouse",
            new
            {
                page = page
            }
            )
            )
        </div>       
    </seccion>

    <script type="text/javascript">
    

        function Seleccionar(a,b) {
            var identificador = parseInt(a);
            var cantidadTotal=parseInt(document.getElementsByClassName('cantidadfinal')[b].value);
            $.ajax({
                url: "@Url.Action("AddProductToList", "Sales")",
                type: "POST",
            dataType: 'json',
            //crossDomain: true,
            data: { id: identificador,cantidad:cantidadTotal},
            success: function (data) {
                // Si la petición es satisfactoria, se recarga la página actual
                //window.location.href = data;               
                $('#tablaFinal').load(' #tablaFinal');
                document.getElementById('WarehouseId').value=0;
            }
        });

        }

        function Eliminar(a) {
            var identificador = parseInt(a);
            $.ajax({
                url: "@Url.Action("DeleteProduct2", "Sales")",
                type: "POST",
            dataType: 'json',
            //crossDomain: true,
            data: { id: identificador},
            success: function (data) {
                // Si la petición es satisfactoria, se recarga la página actual
                //window.location.href = data;
                $('#tablaFinal').load(' #tablaFinal');
                $('.filaSeleccionada').remove();
            }
        });

        }





        $('#myPager').on('click', 'a', function (e) {
            var nombre = document.getElementById('Warehouse').value;
            //prevent action link normal functionality
            e.preventDefault();
            var van = this.href; if (van != "" && van != null) {
                //ajax call index controller action
                $.ajax({
                    url: this.href,
                    type: 'GET',
                    cache: false,
                    data: { Warehouse: nombre },
                    success: function (data) {
                        //load returned data inside contentFrame DIV
                        $('#Preview2').html(data);
                        document.getElementById('Warehouse').value = nombre;
                    }
                });
                return false;
            }
        });


    function enviarBodega2() {


        var nombre = document.getElementById('Warehouse').value;
        

        $.ajax({
            url: "@Url.Action("AddProductWarehouse","Sales")",
            type: "POST",
            data: {Warehouse:nombre},
            success: function (data) {
                // Si la petición es satisfactoria, se recarga la página actual
                $('#Preview2').html(data);
                document.getElementById('Warehouse').value=nombre;

            }
        });
    }

        $("a[btnName=FilterProductWarehouse]").click(function (e) {
            var nombre = document.getElementById('Warehouse').value;
            e.preventDefault();
            var search = $('input[name=buscando]').val();
            this.href = this.href.replace('xyz2', search);
            $.ajax({
                url: this.href,
                type: 'POST',
                cache: false,
                data: { Warehouse: nombre },
                success: function (data) {
                    $('#Preview2').html(data);
                    document.getElementById('Warehouse').value = nombre;
                }
            });
        });



    </script>




</body>