﻿@model EComemerce_01.Models.AddSaleView


@Scripts.Render("~/bundles/jqueryval")

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="text-right">
                @Html.DropDownList("ProductId", null, ((IList<System.Web.Mvc.ModelMetadata>)ViewData.ModelMetadata.Properties)[0].Watermark, htmlAttributes: new { @class = "form-control", @required = "true" })
                
            </div>
            <div class="text-center">
                    @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-4" })
            <div class="text-right">
                @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control", @required = "true" } })
                
            </div>
            <div class="text-center">
                @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger", @required = "true" })
            </div>
        </div>

        <div class="form-group"style="margin-right:90px">
            <div class="text-right">
                <input type="submit" value="Agregar" class="btn btn-primary" />
                @Html.ActionLink("Regresar", "Create", new { }, new { @class = "btn btn-success" })
            </div>
        </div>
    </div>
}



