﻿@model EComemerce_01.Models.NewSaleView
@using EComemerce_01.Classes;

@{
    ViewBag.Title = "Ventas";
}

<head>

</head>

<body class="container body-content">
    <br /><br /><br />

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal"style="background-color:moccasin;border-radius:10px">
            <br />
            <h4 class="text-center">Datos de la venta</h4>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="text-right">
                            @Html.DropDownList("CustomerId", null, htmlAttributes: new { @class = "form-control" })                   
                        </div>
                        <div class="text-center">
                            @Html.ValidationMessageFor(model => model.CustomerId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.WarehouseId, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="text-right">
                            @Html.DropDownList("WarehouseId", null, htmlAttributes: new { @class = "form-control",onchange= "verificarTienda()" })
                           
                        </div>
                        <div class="text-center">
                            @Html.ValidationMessageFor(model => model.WarehouseId, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="text-right">
                            <div class='input-group date' id='datepicker' style="width:280px">
                                @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
                                <span class="input-group-addon">
                                    <span class="fa fa-fw fa-calendar"></span>
                                </span>
                            </div>
                            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="text-right">
                            @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })                  
                        </div>
                        <div class="text-center">
                            @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group"style="margin-right:80px">
                        <div class="text-right">
                            <input type="submit" value="Crear" class="btn btn-primary" id="submit" onclick="verificar()" />
                            <input id="sub" type="button" class="btn btn-warning" value="Orden" />
                            <input id="agregarProducto" type="button" class="btn btn-info" value="Agregar" />
                            @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <hr />
    <h4 class="text-center">Detalles</h4>
        <div id="tablaFinal">
            <table class="table table-bordered">
                <tr class="success">
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Details[0].Product.ProductId)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Details[0].Product.Image)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Details[0].Description)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Details[0].TaxRate)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Details[0].Price)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Details[0].Quantity)
                    </th>
                    <th style="text-align:center">
                        @Html.DisplayNameFor(model => model.Details[0].Value)
                    </th>
                    <th style="text-align:center">
                        Stock Actual
                    </th>
                    <th></th>

                </tr>

                @foreach (var item in Model.Details)
                {
                    int numero = item.Product.ProductId;
                    <tr class="filaSeleccionada">
                        <td class="IdProducto" align="center" >
                            @Html.DisplayFor(modelItem => item.Product.ProductId)
                        </td>

                        <td align="center">
                            @if (!string.IsNullOrEmpty(item.Product.Image))
                                {
                                <img src="@Url.Content(item.Product.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                                }
                        </td>

                        <td class="descripcion" align="center">
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.TaxRate)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Price)
                        </td>
                        <td align="center" class="cantidad">
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td align="center">
                            @Html.DisplayFor(modelItem => item.Value)
                        </td>
                        <td align="center" class="stock">
                            @Html.DisplayFor(modelItem => item.Product.Stock)
                        </td>
                        <td align="center">
                            @Html.ActionLink("Eliminar", "DeleteProduct", new { id = item.ProductId }, new { @class = "btn btn-danger", onclick = "return confirm('¿Esta Seguro de Eliminar este Registro?') " })
                        </td>



                    </tr>
                }
                <tr>
                    <td colspan="4" align="center">
                        <strong>Total</strong>
                    </td>
                    <td align="center">
                        <strong>@Html.DisplayFor(modelItem => Model.TotalQuantity)</strong>
                    </td>
                    <td align="center">
                        <strong>@Html.DisplayFor(modelItem => Model.TotalValue)</strong>
                    </td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    
    <div class="modal fade" id="AddProduct" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"style="background-color:#428bca">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h2 class="modal-title"style="color:white;text-align:center"></h2>
                </div>
                <div class="modal-body"><div class="te">Please wait...</div></div>
            </div>
        </div>
    </div>

    <div>
        
    </div>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:#428bca">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" style="text-align:center;color:white">Seleccione una Orden</h4>
                </div>
                <div class="modal-body" id="Preview">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal2" role="dialog">
        <div class="modal-dialog" style="width:1200px;height:1200px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:#428bca">
                    <button type="button" class="close" data-dismiss="modal" id="botonFinal">&times;</button>
                    <h4 class="modal-title" style="text-align:center;color:white">Seleccione un Producto</h4>
                </div>
                <div class="modal-body" id="Preview2">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="myModal3" role="dialog">
        <div class="modal-dialog" style="width:1200px;height:1200px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:#428bca">
                    <button type="button" class="close" data-dismiss="modal" id="botonFinal">&times;</button>
                    <h4 class="modal-title" style="text-align:center;color:white">Seleccione una Orden</h4>
                </div>
                <div class="modal-body" id="PreviewOrder">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade in" id="myModal4" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog" style="width:600px;height:500px">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" style="background-color:#428bca">
                    <button type="button" class="close" data-dismiss="modal" id="botonFinal">&times;</button>
                    <h4 class="modal-title" style="text-align:center;color:white">Advertencia</h4>
                </div>
                <div class="modal-body" id="Error">
                    <p id="palabra">holas ddff</p>
                </div>
            </div>
        </div>
    </div>





</body>


@section Scripts {

    <script type="text/javascript">
        $(function () {
        $('#datepicker').datetimepicker({ format: 'YYYY/MM/DD' });
        });
        $(document).ready(function () {
            $("body").on("click", "a.dialog-window", null, function (e) {
                e.preventDefault();
                var $link = $(this);
                var title = $link.text();
                $('#AddProduct .modal-title').html(title);
                var url = $(this).attr('href');
                if (url.indexOf('#') == 0) {
                    $('#AddProduct').modal('show');
                }
                else {
                    $.get(url, function (data) {
                        $('#AddProduct .te').html(data);
                        $('#AddProduct').modal();
                    }).success(function () { $('input:text:visible:first').focus(); });
                }

            });
        });

        function Error(a,cantidad,stock) {
            if (a == 2) {
                
            $.ajax({
                url: "@Url.Action("Error", "Sales")",
                type: "GET",
                data:'',
                success: function (data) {
                // Si la petición es satisfactoria, se recarga la página actual
                //window.location.href = data;
                $('#Error').html(data);
                $('#myModal4').modal('show');
                document.getElementById('Mensaje').innerHTML = 'la cantidad de ' + descripcion + ' es ' + cantidad + ' mayor al stock actual ' + stock;
                                
            }
            });
        }

        }


        $("#sub").click(function () {
            $.ajax({
                type: "Get",
                url: '@Url.Action("FromOrder2", "Sales")',
                data: '',
                success: function (data) {
                    $('#PreviewOrder').html(data);
                    $('#myModal3').modal('show');
                }
            })
        })

        $("#agregarProducto").click(function () {
            $.ajax({
                type: "Get",
                url: '@Url.Action("AddProductWarehouse", "Sales")',
                data: '',
                success: function (data) {
                    $('#Preview2').html(data);
                    $('#myModal2').modal('show');
                }
            })
        })




        function verificarTienda() {
            document.getElementById('submit').type = "submit";
            var numero2=new Array();
            var cantidadTotal = document.getElementsByClassName('cantidad');
            for (var contador = 0; contador < cantidadTotal.length; contador++) {
                var numero = parseInt(document.getElementsByClassName('IdProducto')[contador].textContent);
                numero2.push(numero);
            }

            

            if (cantidadTotal.length == 0) {

                alert("Seleccionar Productos");
                document.getElementById('CustomerId').value = 0;
                document.getElementById('WarehouseId').value = 0;
            }
            else {
                var IdTienda = parseInt(document.getElementById('WarehouseId').value);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Inventories", "Sales")",
                    dataType: 'json',
                    data: { ProductId: numero2, war: IdTienda },
                    success: function (data) {
                        // Si la petición es satisfactoria, se recarga la página actual
                        //window.location.href = data;                        

                        for (var contador = 0; contador < cantidadTotal.length; contador++) {
                            document.getElementsByClassName('stock')[contador].innerHTML = data[contador] + '.00';
                        }

                    }
                });
            }
            
        }


        function verificar() {

            var cantidadTotal = document.getElementsByClassName('cantidad');

            for (var contador = 0; contador<cantidadTotal.length; contador++) {
                
                var numero = document.getElementsByClassName('cantidad')[contador].textContent;

                var nueva = '';
                for (var i = 0; i < numero.length - 3; i++) {
                    if (numero[i] == ',') {
                        nueva = nueva + '';
                    }
                    else if (numero[i] != ',') {
                        nueva = nueva + numero[i];
                    }

                }

                var cantidad = parseFloat(nueva);

                var numero2 = document.getElementsByClassName('stock')[contador].textContent;
                var nueva = '';
                for (var i = 0; i < numero2.length - 3; i++) {
                    if (numero2[i] == ',') {
                        nueva = nueva + '';
                    }
                    else if (numero2[i] != ',') {
                        nueva = nueva + numero2[i];
                    }

                }
                var stock = parseFloat(nueva);

                descripcion = document.getElementsByClassName('descripcion')[contador].textContent;
                if (cantidad > stock) {
                    //alert('la cantidad de '+ descripcion +' es '+ cantidad + ' mayor al stock actual '+ stock);
                    Error(2,cantidad,stock);
                    document.getElementById('submit').type = "button";
                    
                    if (contador == cantidadTotal.length - 1) {
                        document.getElementById('CustomerId').value = 0;
                        document.getElementById('WarehouseId').value = 0;

                    }

                }


                
                
                


            }
            

        }

    </script>

}



