﻿
@{
    ViewBag.Title = "Error";
}

     <p class="text-center" id="Mensaje"></p>
     @using (Html.BeginForm())
     {
        @Html.AntiForgeryToken()
         <div class="text-right">
                <div>
                 @Html.ActionLink("Cerrar", "Create", new { }, new { @class = "btn btn-success" })
                </div>
         </div>
     }


