﻿@model PagedList.IPagedList<EComemerce_01.Models.Order>
@using PagedList.Mvc;


<!DOCTYPE html>

<html>

<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailPartial</title>
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/css2/Estilos.css" rel="stylesheet" />
    <script type="text/javascript">

    function Seleccionar(a) {
        var cantidad = parseInt(a);
        $.ajax({
            url: "@Url.Action("FromOrderTolist", "Sales")",
            type: "POST",
            dataType: 'json',
            crossDomain: true,
            data: { id: cantidad },
            success: function (data) {
                // Si la petición es satisfactoria, se recarga la página actual
                window.location.href = data;
            }
        });

    }


    $('#myPager2').on('click', 'a', function (e) {
        //prevent action link normal functionality
        e.preventDefault();
        var van = this.href; if (van != "" && van != null) {
            //ajax call index controller action
            $.ajax({
                url: this.href,
                type: 'GET',
                cache: false,
                success: function (result) {
                    //load returned data inside contentFrame DIV
                    $('#PreviewOrder').html(result);
                }
            });
            return false;
        }
    });

    $("a[btnName=FilterCustomer]").click(function (e) {
        e.preventDefault();
        var search = $('input[name=search]').val();
        this.href = this.href.replace('xyz', search);
        $.ajax({
            url: this.href,
            type: 'POST',
            cache: false,
            success: function (result) {
                $('#PreviewOrder').html(result);
            }
        });
    });


    </script>

</head>

<body>
    <div>
        <table>
            <tr>
                <td>@Html.TextBox("search", ViewBag.CurrentSearch as string, new { @class = "form-control" }) </td>
                <td>
                    @Html.ActionLink("buscar", "FromOrder2", new { sort = ViewBag.CurrentSort, search = "xyz" },
             new { @class = "btn btn-primary", btnName = "FilterCustomer" })
                </td>

            </tr>
        </table>
        <br />

        <table class="table table-bordered">
            <tr class="success">
                <th style="text-align:center">
                    N°
                </th>

                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().StateId)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr onclick="Seleccionar(@item.OrderId)" class="primero">
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.OrderId)
                    </td>

                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Customer.FullName)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.State.Description)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>

                </tr>
            }

        </table>
    </div>

    <div id="myPager2">
        @Html.PagedListPager(Model,
        page => Url.Action(
            "FromOrder2",
            new
            {
                page = page
            }
        )
    )
    </div>

</body>

</html>


