﻿@model PagedList.IPagedList<EComemerce_01.Models.Sale>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Ventas";

}



<body class="container body-content">
    <h2>Ventas</h2>

    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
                    @Html.TextBox("buscarCategoria", ViewBag.CurrentSearch as string, new { @class = "form-control" })
                </td>
                <td>
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </td>
                <td>
                    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary" })
                </td>
            </tr>
        </table>
    }
    <br />
    <table class="table table-bordered">
        <tr class="success">
            <th style="text-align:center">
                N°
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().CustomerId)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().State.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Warehouse.Name)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Date)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Remarks)
            </th>
            <th></th>
        </tr>
        @{int Contador = 0;}
        @foreach (var item in Model)
        {
            Contador++;
            <tr >
                <td style="text-align:center">
                    @Contador
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Customer.FullName)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.State.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Warehouse.Name)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Remarks)
                </td>
                <td style="text-align:center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.SaleId }, new { @class = "btn btn-warning",data_modal = "" })
                    @Html.ActionLink("Detalles", "Details", new { id = item.SaleId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.SaleId }, new { @class = "btn btn-success", data_modal = "" })
                </td>
            </tr>
        }

    </table>
    <div id="myPager">
        Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new
        {
            page,
            sortOrder =
            ViewBag.CurrentSort,
            currentFilter = ViewBag.CurrentFilter
        }))
    </div>

</body>
