﻿
.principal ul li a:hover {

    color:#fff;
   
   
    

}

.circulo {
     width: 100px;
     height: 100px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}


table tr:hover {

    background:#ccc;
}
