﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Sistema Comercial</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

 
</head>
<body>
    <!-- Navigation -->
    @if (User.IsInRole("Admin") || User.IsInRole("User"))
    {
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            @if (User.IsInRole("Admin") || User.IsInRole("User"))
            {
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>


               <a href="@Url.Action("Index", "Home")" style="color:#ffffff" class="navbar-brand"><i class="fa fa-fw fa-home"></i>Inicio</a>


            </div>
            }
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-folder"></i> Administracion</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ciudades", "Index", "cities")</li>
                                <li>@Html.ActionLink("Compañias", "Index", "Companies")</li>
                                <li>@Html.ActionLink("Departamentos", "Index", "Departments")</li>
                                <li>@Html.ActionLink("Estados", "Index", "States")</li>
                                <li>@Html.ActionLink("Usuarios", "Index", "Users")</li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("User"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-folder"></i> Archivo</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Categorias", "Index", "Categories")</li>
                                <li>@Html.ActionLink("Clientes", "Index", "Customers")</li>
                                <li>@Html.ActionLink("Productos", "Index", "Products")</li>
                                <li>@Html.ActionLink("Impuestos", "Index", "Taxes")</li>
                                <li>@Html.ActionLink("Proveedores", "Index", "Suppliers")</li>
                                <li>@Html.ActionLink("Bodegas", "Index", "Warehouses")</li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-fw fa-folder"></i> Movimientos</a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Ordenes", "Index", "Orders")</li>
                                <li>@Html.ActionLink("Compras", "Index", "Purchases")</li>
                                <li>@Html.ActionLink("Ventas", "Index", "Sales")</li>
                            </ul>
                        </li>

                    }

                </ul>
                @if (!User.IsInRole("Admin") || !User.IsInRole("User"))
                {
                @Html.Partial("_LoginPartial")
                }
            </div>
        </div>
    </div>
    }
    <div>
       @RenderBody()
    </div>

    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>

<div id='modalGenerica' class='modal fade in'data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#428bca">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="text-align:center;color:white;height:25px">@ViewBag.Title</h4>
            </div>
            <div id='contentModal'></div>
        </div>
    </div>
</div>


