﻿@model EComemerce_01.Models.Warehouse

@{
    ViewBag.Title = "Editar";
}

    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/ecommerce.js"></script>
    <script type="text/javascript">
        var Url = '@Url.Action("GetCities", "Generic")';
    </script>
<section>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.WarehouseId)
            @Html.HiddenFor(model => model.CompanyId)

            <div class="form-group">
                @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })                  
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })                    
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })                  
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="margin-right:110px">
                <div class="text-right">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }
</section>

