﻿@model EComemerce_01.Models.Product

@{
    ViewBag.Title = "Crear";
}

    <script src="~/Scripts/ecommerce.js"></script>
    <script src="~/Scripts/fileupload.js"></script>
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        var Url = '@Url.Action("GetCities", "Generic")';
    </script>
<section id="formularios">
    @using (Html.BeginForm("Create", "Products", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.CompanyId)

            <div class="form-group">
                @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })                    
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                </div>
           </div>

            <div class="form-group">
                @Html.LabelFor(model => model.BarCode, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.BarCode, new { htmlAttributes = new { @class = "form-control" } })                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.BarCode, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CategoryId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control" })                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.TaxId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.DropDownList("TaxId", null, htmlAttributes: new { @class = "form-control" })                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.TaxId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Price, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })                    
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ImageFile, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    <div class="file-input-new">
                        <div class="input-group" style="width:280px">
                            <div tabindex="500" class="form-control file-caption">
                                <div class="file-caption-name" id="NombreArchivo">
                                </div>
                            </div>
                            <div class="input-group-btn" style="height:auto">
                                <div tabindex="500" class="btn btn-primary btn-file">
                                    <i class="fa fa-fw fa-folder-open"></i>
                                    File Search...
                                    @Html.TextBoxFor(modelo => modelo.ImageFile, new { type = "file", id = "files" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Remarks, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Remarks, new { htmlAttributes = new { @class = "form-control" } })                    
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Remarks, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="margin-right:110px">
                <div class="text-right">
                    <input type="submit" value="Crear" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }
</section>


