﻿@model EComemerce_01.Models.Product

@{
    ViewBag.Title = "Eliminar Producto";
}
@Scripts.Render("~/bundles/jqueryval")
<section>
    <div class="modal-shadow text-center">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="panel-body">
            <div class="form-group">
                <div class="text-center">
                    ¿Está seguro de querer eliminar el Producto:
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                <div class="form-group">
                    <div>
                        <input type="submit" value="Eliminar" class="btn btn-primary" />
                        @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                    </div>
                </div>
            }
        </div>
    </div>
</section>

