﻿@model EComemerce_01.Models.Product

@{
    ViewBag.Title = "Detalles";
}

<body class="container body-content">
    <h2>Detalles</h2>


    <div class="row">
        <div class="col-md-6">

            <div>
                <h4>Producto</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Category.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Category.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Company.Name)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Company.Name)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Tax.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Tax.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Description)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.BarCode)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.BarCode)
                    </dd>

                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>

                    <dd>
                        @if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <img src="@Url.Content(Model.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                        }
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Remarks)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.Remarks)
                    </dd>

                </dl>
            </div>
            <p>
                @Html.ActionLink("Editar", "Edit", new { id = Model.ProductId }, new { @class = "btn btn-success" ,data_modal = "" })
                @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-primary" })
            </p>


        </div>
        <div class="col-md-6">
            <h4>Inventario</h4>
            <hr />
            @if (Model.Inventories.Count == 0)
            {
                <h5>No esta Registrado Todavia</h5>
            }
            else
            {
                <table class="table table-bordered">
                    <tr class="success">
                        <th style="text-align:center">
                            Bodega
                        </th>
                        <th style="text-align:center">
                            Stock
                        </th>
                    </tr>

                    @foreach (var item in Model.Inventories.ToList())
                {
                        <tr>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Warehouse.Name)
                            </td>
                            <td style="text-align:center">
                                @Html.DisplayFor(modelItem => item.Stock)
                            </td>

                        </tr>
                    }
                    <tr>
                        <td style="text-align:center">
                            <strong>Total</strong>
                        </td>
                        <td style="text-align:center">
                            <strong>@Html.DisplayFor(model => model.Stock)</strong>
                        </td>
                    </tr>

                </table>
            }
        </div>
    </div>
</body>
    @section Scripts {

    }
