﻿@model PagedList.IPagedList<EComemerce_01.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Productos";
}
<body class="container body-content">
    <h2>Productos</h2>


    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td>
                    @Html.TextBox("SearchString" ,ViewBag.CurrentSearch as string, new { @class = "form-control" })                   
                </td>
                <td>
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </td>
                <td>
                    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary", data_modal = "" })
                </td>
            </tr>
        </table>
    }
    <br />



    <table class="table table-bordered">
        <tr class="success">
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Category.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Tax.Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Description)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().BarCode)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Price)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Image)
            </th>
            <th style="text-align:center">
                @Html.DisplayNameFor(model => model.FirstOrDefault().Stock)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Category.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Tax.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.BarCode)
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td style="text-align:center">
                    @if (!string.IsNullOrEmpty(item.Image))
                    {
                        <img src="@Url.Content(item.Image)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                    }
                </td>
                <td style="text-align:center">
                    @Html.DisplayFor(modelItem => item.Stock)
                </td>
                <td style="text-align:center">
                    @Html.ActionLink("Editar", "Edit", new { id = item.ProductId }, new { @class = "btn btn-warning", data_modal = "" })
                    @Html.ActionLink("Detalle", "Details", new { id = item.ProductId }, new { @class = "btn btn-danger" })
                    @Html.ActionLink("Eliminar", "Delete", new { id = item.ProductId }, new { @class = "btn btn-success", data_modal = "" })
                </td>
            </tr>
        }

    </table>
    Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))



</body>

