﻿@model EComemerce_01.Models.ChangePasswordViewModel


<head>
    <link href="~/css2/formulario.css" type="text/css" rel="stylesheet" />
</head>

<body style="background-color:rgba(128, 128, 128, 0.15)">
    <div class="container">
        <div class="card card-container">
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <h4 class="text-center">Cambiar Contraseña</h4>
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <form class="form-signin">
                            @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.OldPassword) })<br />                      
                            @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.NewPassword) }) <br />    
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = Html.DisplayNameFor(x => x.ConfirmPassword) })<br />
                    <button class="btn btn-lg btn-primary btn-block btn-signin">Cambiar Contraseña</button><br />
                </form>
            }

</div>
    </div>



</body>
@section Scripts {
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
}
