﻿@model EComemerce_01.Models.User

@{
    ViewBag.Title = "Edit";
}
        
        @Scripts.Render("~/bundles/jqueryval")
         <script src="~/Scripts/ecommerce.js"></script>
        <script src="~/Scripts/fileupload.js"></script>
        <script type="text/javascript">
        var Url = '@Url.Action("GetCities", "Generic")';
        </script>

<section id="formularios">
    @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        <br />
        <div class="form-horizontal">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.UserId)


            <div class="form-group">
                @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    
                </div>
                <div class="text-center">
                   @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Adress, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.EditorFor(model => model.Adress, new { htmlAttributes = new { @class = "form-control" } })                 
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.Adress, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.PhotoFile, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    <div class="file-input-new">
                        <div class="input-group" style="width:280px">
                            <div tabindex="500" class="form-control file-caption">
                                <div class="file-caption-name" id="NombreArchivo">
                                </div>
                            </div>
                            <div class="input-group-btn" style="height:auto">
                                <div tabindex="500" class="btn btn-primary btn-file">
                                    <i class="fa fa-fw fa-folder-open"></i>
                                    File Search...
                                    @Html.TextBoxFor(modelo => modelo.PhotoFile, new { type = "file", id = "files" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.DepartmentId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.DropDownList("DepartmentId", null, htmlAttributes: new { @class = "form-control" })
                    
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.DepartmentId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CityId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.DropDownList("CityId", null, htmlAttributes: new { @class = "form-control" })
                   
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.CityId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CompanyId, htmlAttributes: new { @class = "control-label col-md-4" })
                <div class="text-right">
                    @Html.DropDownList("CompanyId", null, htmlAttributes: new { @class = "form-control" })
                    
                </div>
                <div class="text-center">
                    @Html.ValidationMessageFor(model => model.CompanyId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group"style="margin-right:110px">
                <div class="text-right">
                    <input type="submit" value="Guardar" class="btn btn-primary" />
                    @Html.ActionLink("Regresar", "Index", new { }, new { @class = "btn btn-success" })
                </div>
            </div>
        </div>
    }

</section>

