﻿@model PagedList.IPagedList<EComemerce_01.Models.Customer>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Clientes";
}
<head>

    <link href="~/Content/PagedList.css" rel="stylesheet" />


</head>



<body class="container body-content">
    <h2>Clientes</h2>


    @using (Html.BeginForm())
    {
        <table>
            <tr>
                <td >
                     @Html.TextBox("SearchString", ViewBag.CurrentSearch as string, new { @class = "form-control" })                                       
                </td>
                <td>
                    <input type="submit" value="Buscar" class="btn btn-primary" />
                </td>
                <td >
                    @Html.ActionLink("Nuevo", "Create", new { }, new { @class = "btn btn-primary", data_modal = "" })
                </td>
            </tr>
        </table>
    }
    <br />
    <div id="resultado">
        <table class="table table-bordered">
            <tr class="success">
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().City.Name)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Department.Name)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().FullName)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Phone)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Address)
                </th>
                <th style="text-align:center">
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Photo)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.City.Name)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Department.Name)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.FullName)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Phone)
                    </td>
                    <td style="text-align:center">
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td style="text-align:center">
                        @if (!string.IsNullOrEmpty(item.Photo))
                        {
                            <img src="@Url.Content(item.Photo)" alt="Image" style="width:100px;height:100px;max-width: 100%; height: auto;" />
                        }
                    </td>
                    <td style="text-align:center">
                        @Html.ActionLink("Editar", "Edit", new { id = item.CustomerId }, new { @class = "btn btn-warning", data_modal = "" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.CustomerId }, new { @class = "btn btn-success", data_modal = "" })
                    </td>
                </tr>
            }

        </table>
    </div>
    <div id="myPager">
        Página: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber), de: @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOrder =
    ViewBag.CurrentSort,
    currentFilter = ViewBag.CurrentFilter
}))
</div>


</body>

